[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/py.test"]
	path = .vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/ropevim"]
	path = .vim/bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".tmux/tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/bundle/easytags"]
	path = .vim/bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/taskpaper"]
	path = .vim/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
