# -*- conf -*-
 
# Ignore everything
*
 
# Unignore some directories
!.bin/
 
 
#irssi
!.irssi/*
.irssi/config
.irssi/config.autosave
.irssi/logs/
.irssi/p2p-net
.irssi/config-xdcc
.irssi/scripts/autorun/
# X stuff
!.xinitrc
!.Xdefaults
!.XCompose
 
# ZSH stuff
!.zshrc

# Other configs
!.screenrc
!.config/openbox/*
!.vimrc
!.vim/plugin/*
!.wmii-hg/wmiirc_local.py
