# -*- conf -*-
 
# Ignore everything
*
 
# Unignore some directories
!.bin/
 
# GIT stuff
#!.gitignore
 
#irssi
!.irssi/*
.irssi/config
.irssi/config.autosave
.irssi/logs/
.irssi/p2p-net
.irssi/config-xdcc
# X stuff
!.xinitrc
!.Xdefaults
!.Xdefaults.d/
!.XCompose
!.XCompose.d/
 
# ZSH stuff
!.zshrc
!.zsh/*

# Other configs
!.screenrc
!.config/openbox/*
!.wmii-hg/*
!.vimrc
