[submodule ".vim/bundle/vividchalk"]
	path = .vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
