# if else
snippet if
	if ${1}:
		${2:pass}
snippet ife
	if ${1}:
		${2:pass}
	else:
		${3:pass}
snippet ifel
	if ${1}:
		${2:pass}
	elif ${3}:
		${4:pass}
snippet elife
	if ${1}:
		${2:pass}
	elif ${3}
		${4:pass}
	else:
		${5:pass}
snippet from
	from ${1:module} import ${2:object}

snippet property
	@property
	def ${1:x}(self):
		"""The $1 property"""
		return self._$1

	@$1.setter
	def $1(self, value):
		self._$1 = value
# vim: set noet:
