# if else
snippet if
	if ${1}:
		${2:pass}
snippet ife
	if ${1}:
		${2:pass}
	else:
		${3:pass}
snippet ifel
	if ${1}:
		${2:pass}
	elif ${3}:
		${4:pass}
snippet elife
	if ${1}:
		${2:pass}
	elif ${3}
		${4:pass}
	else:
		${5:pass}
# vim: set noet:
