<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="mein-menu" label="Zeug">
	<item label="Pidgin">
		<action name="Execute">
			<command>pidgin</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="Liferea">
		<action name="execute">
			<command>liferea</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
	<item label="JDownloader">
		<action name="execute">
			<command>/usr/bin/jdownloader</command>
		</action>
	</item>
</menu>
<menu id="spiele" label="Spiele">
	<item label="Hedgewars">
		<action name="Execute">
			<command>hedgewars</command>
		</action>
	</item>
	<item label="HoN">
		<action name="execute">
			<command>proxychains /home/wieland/HoN/hon-x86_64</command>
		</action>
	</item>
	<item label="Savage">
		<action name="execute">
			<command>/usr/bin/savage</command>
		</action>
	</item>
	<item label="Battle for Wesnoth">
		<action name="execute">
			<command>wesnoth</command>
		</action>
	</item>
	<item label="Blobby Volley 2">
		<action name="execute">
			<command>blobby</command>
		</action>
	</item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="OpenOffice Base">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/sbase</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/scalc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/sdraw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>/opt/openoffice-dev/program/simpress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/smath</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/spadmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/swriter</command>
    </action>
  </item>
</menu>
<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Exit Openbox">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <menu id="mein-menu" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="spiele"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <menu id="system-menu"/>
  <item label="Log Out">
    <action name="SessionLogout">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
