<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="mein-menu" label="Zeug">
	<item label="Pidgin">
		<action name="Execute">
			<command>pidgin</command>
			<startupnotify>
				<enabled>yes</enabled>
			</startupnotify>
		</action>
	</item>
</menu>
<menu id="apps-editors-menu" label="Editors">
  <item label="GVim">
    <action name="Execute">
      <command>gvim</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>GVim</wmclass>
      </startupnotify>
    </action>
  </item>
 <item label="GEdit">
    <action name="Execute">
      <command>gedit</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>
<menu id="spiele" label="Spiele">
	<item label="Siedler 4">
		<action name="Execute">
			<command>wine /home/wieland/.wine/drive_c/BlueByte/Die\ Siedler\ IV/S4.exe</command>
		</action>
	</item>
	<item label="Lego Racers">
		<action name="Execute">
			<command>wine /home/wieland/.wine/drive_c/Program\ Files/Lego\ Media/Games/LEGO\ Racers/LEGORacers.exe</command>
		</action>
	</item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="OpenOffice Base">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/sbase</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/scalc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/sdraw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>/opt/openoffice-dev/program/simpress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/smath</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/spadmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
		<command>/opt/openoffice-dev/program/swriter</command>
    </action>
  </item>
</menu>
<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
 <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Exit Openbox">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <menu id="mein-menu" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="spiele"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <menu id="system-menu"/>
  <item label="Log Out">
    <action name="SessionLogout">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="Shutdown">
	  <action name="execute">
		  <command>sudo shutdown -h now</command>
	  </action>
  </item>
</menu>

</openbox_menu>
